<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- 使用{{}}和v-model+  computed  实现拼串的效果。 -->
    <!-- 这里主要是介绍 计算属性 的使用 -->
    <!-- 

       -->
</head>

<body>

    <div id="root">
        <div class="firstName">
            姓：<input type="text" v-model="first">
        </div>
        <div class="lastName">
            名：<input type="text" v-model="last">
        </div>
        <div class="Name">
            全名：{{fullName}}
        </div>
    </div>

    <script src="../vue.js" ></script>
    <script>
        Vue.config.productionTip = false; //阻止 vue 在启动时生成生产提示。

        new Vue({
            el: "#root",
            data: {
                first: "张",
                last: "三",
            },
            computed: {
                fullName: {
                    get() {
                        console.log("get")
                        return this.first + '-' + this.last;
                    }
                }
            }
        })
    </script>

</body>

</html>